html 
    head 
        title='formulario con pug'
    body 
        form(
            action='/api/productos'
            method='post'
        )
            p nombre 
            input(
                type='text'
                name='nombre'
            )
            br
            p precio
            input(
                type='text'
                name='precio'
            ) 
            br
            p thumbnail 
            input(
                type='text'
                name='thumbnail'
            ) 
            br
            button(
                type='submit'
            ) Agregar!!         
        a(href="/list")
                button Mostrar todos
